<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/formulaire.css}" />
</head>
<body>
 <div th:replace="~{fragments/entete::entete}"></div>
 
 <form th:action="@{/login}" method="POST">

<ul>
	<li><label for="">Pseudo</label><input type="text" name="username" /></li>
	<li><label for="">Mot de passe</label><input type="password" name="password" /></li>
	<li><button type ="submit">Connexion</button></li>
</ul>

</form>

</body>
</html>