<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vendre un article</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/formulaire.css}" />
</head>
<body>
<div th:replace="~{fragments/entete::entete}"></div>
<h1>Vendre un article</h1>

	<form th:action="@{/vendre}" method = "POST" th:object="${articleVendu}">
	<h2>Objet à vendre</h2>
	
	<ul>
		<li>
		<label for="nom_article">Nom de l'article</label>
		<input id="nom_article" type="text" th:field="*{nomArticle}" required="required"> 
		</li>
		<li>
		<label for="description">Description</label>
		<input id="description" type="text" th:field="*{description}" required="required"> 
		</li>
		<label for="date_debut_encheres">Date de début de l'enchère</label>
		<input id="date_debut_encheres" type="date" th:field="*{dateDebutEncheres}" required="required"> 
		</li>
		<label for="date_fin_encheres">Date de fin de l'enchère</label>
		<input id="date_fin_encheres" type="date" th:field="*{dateFinEncheres}" required="required"> 
		</li>
		</li>
		<label for="prix_vente">Mise à prix de l'objet</label>
		<input id="prix_vente" type="number" min="1" th:field="*{miseAPrix}" required="required"> 
		</li>
		</li>
		<label for="idCategorie">Catégorie</label>
		<select name="categorieArticle" id="" >
			<option th:each="c : ${categoriesSession}" th:value=${c.noCategorie} th:text=${c.libelle}>
		</select>
		</li>
		<li>
		<input type="hidden" th:value="${utilisateur.noUtilisateur}" name="noUtilisateur" />
		</li>
		<li>
			<button type="submit">Valider</button>
		</li>
	</ul>

	</form>
	
	<script>
  	// Ajouter la contrainte min avec la date d'aujourd'hui
  const inputDate1 = document.getElementById('date_debut_encheres');
  const inputDate2 = document.getElementById('date_fin_encheres');
  const today = new Date().toISOString().split('T')[0];
  inputDate1.setAttribute('min', today);
  inputDate2.setAttribute('min', today);
  
	//Définir les dates minimums pour la date de début et la date de fin
  inputDate1.setAttribute('min', today);
  inputDate2.setAttribute('min', today);

  	// Ajouter un écouteur d'événements sur la date de début
  inputDate1.addEventListener('change', function () {
    // Si la date de début change, mettre à jour la date minimale de fin
    const startDate = inputDate1.value;
    inputDate2.setAttribute('min', startDate);  // La date de fin ne peut pas être avant la date de début
    // Si la date de fin est antérieure à la date de début, on la réinitialise à la date de début
    if (inputDate2.value && inputDate2.value < startDate) {
      inputDate2.value = startDate;
    }
  });
	</script>
	

</body>
</html>